{{extend 'layout.html'}}
{{block sectionclass}}login{{end}}
<!-- begin "index" block -->
<h2>web2py&trade; {{=T('Web Framework')}}</h2>
<h3>{{=T('Login to the Administrative Interface')}}</h3>
<div class="form row-fluid">
{{if request.is_https or request.is_local or request.env.remote_addr in ['172.25.0.1', '172.25.0.23', '172.25.0.24']:}}
	<form action="{{=URL(r=request)}}" method="post" class="span4 well">
		<label for="password">{{=T('Administrator Password:')}}</label>
		<input type="password" name="password" id="password"/>
		<input type="hidden" name="send" value="{{=send}}"/>
		<div class="controls"><button type="submit" name="login" class="btn">{{=T('Login')}}</button></div>
	</form>
{{else:}}
<p class="help span7 alert alert-block alert-warning">{{=T('ATTENTION: Login requires a secure (HTTPS) connection or running on localhost.')}}</p>
{{pass}}
</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery("#password").focus();
	});
</script>
<!-- end "index" block -->